{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base",
        "plugin:jest/recommended"
    ],
    "env": {
        "node": true,
        "jest/globals": true,
    },
    "plugins": ["jest"],
    "rules": {
        "camelcase": "off",
        "function-paren-newline": ["error", "consistent"],
        "import/prefer-default-export": "off",
        "indent": ["error", 4],
        "no-await-in-loop": "off",
        "no-continue": "off",
        "no-restricted-syntax": "off"
    },
}
